.info {
    color: blue;
    background-color: aqua;
    padding: 30px;
}

.time {
    color: red;
}

.alert {
    color: red;
    text-decoration: none;

}

.datas {
    color: black;
    font-weight: bold;
}

.movie {
    background-color: red;
}