.head {
  background-color: rgb(43, 158, 225);
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.movies {
  color: white;
  background-color: rgb(220, 21, 21);
  text-align: center;
  font-size: 18px;

  cursor: pointer;

}

.allmovies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;




}

.movies:hover {
  color: rgb(215, 212, 238);

}

.btn {
  color: white;
  background-color: red;
  position: absolute;
  margin-left: 80px;
  border-radius: 5px;
  box-shadow: none;
  border-style: none;
  cursor: pointer;
}

.tbtn {
  color: white;
  background-color: red;
  position: absolute;
  margin-left: 200px;
  border-radius: 5px;
  box-shadow: none;
  border-style: none;
  cursor: pointer;
}